/app/*.env
/.env
/app/.env
node_modules
artifacts

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
local_yaml
/app/secure-file-storage.yaml

# Terraform
*.tfvars
.terraform
*.tfstate*

#vim swap files
[._]*.sw[a-p]
terraform/.terraform.lock.hcl
