node_modules
npm-debug.log
Dockerfile*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
# scripts and artifacts 
scripts
artifacts
# environment 
.env
credentials.env
credentials.template.env
# Terraform
*.tfvars
.terraform
*.tfstate*